.header {
  padding: .5em .7em;
  background-color: rgb(255, 94, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .logo { 
  font-weight: bold;
  margin-right: 1em;
}

.header a{
  text-decoration: none;
  color: white;
}

.header .username{
  margin-right: .5em;
}