.link{
    display: flex;
    padding: .5em .7em;
}

.link a{
    text-decoration: none;
    font-weight: 600;
}

.link .index{  
    margin-right: .4em;
    color: gray;
}

.link .info{
    color: gray;
    font-size: 85%;
}

.link .upArrow{
    height: 10px;
    width: 10px;
    margin-top: 6px;
    background-color: grey;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
}

.link .arrowSpace, .link .upArrow{
    width: 10px;
    margin-right: .3em;
}